html {
    height: 100%;
    font-size: 16px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 0rem 0.5rem black;
}

h1 {
    display: flex;
    align-items: center;
    margin: 0.5rem 1rem;
}

h1:before {
    content: url(icons/bookshelf.svg);
    display: inline-block;
    width: 3rem;
    height: auto;
    margin: 0.3rem 0rem 0 0;
}

table {
    width: 100vw;
    padding: 0.5rem;
    border-spacing: 0;
}

tbody tr:nth-child(odd) {
    background: rgb(238, 238, 238);
}

tbody tr td:last-child {
    display: flex;
    gap: 1rem;
}

tbody tr:hover {
    background: rgb(200, 200, 200);
}

td, th {
    padding: 0.5rem;
    text-align: left;
}

td button {
    height: 1.5rem;
    width: 1.5rem;
    border: none;
}

button:hover {
    cursor: pointer;
}

#add {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.5rem;
    fill: black;
    transition: all 0.3s;
    touch-action: manipulation;
}

#add:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

#add:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }

#add span {
    margin-bottom: 0.25rem;
    font-size: 2rem;
}

.fav-btn {
    background: url(icons/star.svg) no-repeat center;
}

.fav-btn:hover {
    filter: invert(85%) sepia(100%) saturate(759%) hue-rotate(359deg) brightness(103%) contrast(106%);
}

.del-btn {
    background: url(icons/trash-can.svg) no-repeat center;
}

.del-btn:hover {
    filter: invert(25%) sepia(100%) saturate(7194%) hue-rotate(357deg) brightness(92%) contrast(119%);
}

.highlight {
    background: rgba(255, 255, 0, 0.5) !important;
}